<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGuest - Demande de renouvelement de votre mot de passe</title>
</head>

<body>
    <div style="background: #fff; background-color: #fff; margin: 0 auto; max-width: 600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
            style="background: #fff; background-color: #fff; width: 100%;">
            <tbody>
                <tr>
                    <td
                        style="direction: ltr; font-size: 0; padding: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: center;">
                        <div style="background: #fff; background-color: #fff; margin: 0 auto; max-width: 600px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="background: #fff; background-color: #fff; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td
                                            style="border: undefined solid undefined; direction: ltr; font-size: 0; padding: 20px 0; padding-bottom: 30px; padding-left: 20px; padding-right: 20px; padding-top: 20px; text-align: center;">
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size: 0; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="background-color: transparent; border: 0 solid transparent; vertical-align: top; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    role="presentation" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center"
                                                                                style="font-size: 0; padding: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; word-break: break-word;">
                                                                                <table border="0" cellpadding="0"
                                                                                    cellspacing="0" role="presentation"
                                                                                    style="border-collapse: collapse; border-spacing: 0;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 200px;">
                                                                                                <img alt="Alternate image text"
                                                                                                    src="https://res.cloudinary.com/dfsaszwfq/image/upload/v1683274575/uguest_logo_no8elv.png"
                                                                                                    style="border: 0px solid transparent; border-radius: 0px; display: block; outline: 0px; text-decoration: none; width: 100%; font-size: 13px; --loader-delay-offset: 99ms !important;"
                                                                                                    width="256"
                                                                                                    height="256"
                                                                                                    layout="responsive"
                                                                                                    class="i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout"
                                                                                                    i-amphtml-layout="responsive">
                                                                                                <i-amphtml-sizer
                                                                                                    slot="i-amphtml-svc"
                                                                                                    style="padding-top: 100%;"></i-amphtml-sizer>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="font-size: 0; padding: 20px 0; padding-bottom: 30px; padding-top: 30px; text-align: center;">
                                                                <p
                                                                    style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">
                                                                    Cher(e) <%= name %>,</p>
                                                                <p
                                                                    style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">
                                                                    Nous regrettons de vous informer que votre demande a
                                                                    été refusée.</p>
                                                                <p
                                                                    style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">
                                                                    Nous vous remercions néanmoins de l'intérêt que vous
                                                                    avez porté à notre programme/service. Nous vous
                                                                    encourageons à continuer à explorer d'autres
                                                                    opportunités qui pourraient correspondre à vos
                                                                    attentes.</p>
                                                                <p
                                                                    style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">
                                                                    N'hésitez pas à nous contacter si vous avez des
                                                                    questions ou si nous pouvons vous assister d'une
                                                                    autre manière.</p>
                                                                <p
                                                                    style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">
                                                                    Cordialement,</p>
                                                                <p
                                                                    style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">
                                                                    L'équipe Uguest</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>