<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGuest - Vous Avez reçu une candidature</title>
</head>
<body style="background: #fff; background-color: #fff; margin: 0 auto; max-width: 600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #fff; background-color: #fff; width: 100%;">
        <tbody>
            <tr>
                <td style="direction: ltr; font-size: 0; padding: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: center;">
                    <div style="background: #fff; background-color: #fff; margin: 0 auto; max-width: 600px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #fff; background-color: #fff; width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="border: none; direction: ltr; font-size: 0; padding: 20px 0; padding-bottom: 30px; padding-left: 20px; padding-right: 20px; padding-top: 20px; text-align: center;">
                                        <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size: 0; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                <tr>
                                                    <td style="font-size: 0; padding: 20px 0; padding-bottom: 30px; padding-top: 30px; text-align: center;">
                                                        <img src="https://res.cloudinary.com/dfsaszwfq/image/upload/v1683274575/uguest_logo_no8elv.png" alt="Logo de votre entreprise" style="display: block; margin: 0 auto; max-width: 200px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 0; padding: 20px 0; padding-bottom: 30px; text-align: center;">
                                                        <p style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">Cher(e) commercant,</p>
                                                        <p style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">Nous tenions à vous informer que vous avez reçu une nouvelle candidature d'un influenceur intéressé par une collaboration avec votre entreprise.</p>
                                                        <p style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">Nous vous remercions de l'intérêt porté à notre plateforme et espérons que cette collaboration sera fructueuse pour vous.</p>
                                                        <p style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>
                                                        <p style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">Cordialement,</p>
                                                        <p style="font-size: 16px; line-height: 1.5; margin: 0; margin-bottom: 20px;">L'équipe de Uguest</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
