<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGuest - Demande de renouvelement de votre mot de passe</title>
</head>

<body>
    <div style="background: #fff; margin: 0 auto; max-width: 600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
            style="background: #fff; width: 100%;">
            <tbody>
                <tr>
                    <td style="direction: ltr; font-size: 0; padding: 0; text-align: center;">
                        <div style="background: #fff; margin: 0 auto; max-width: 600px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="background: #fff; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td
                                            style="border: none; direction: ltr; font-size: 0; padding: 20px 0; text-align: center;">
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size: 0; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="background-color: transparent; border: none; vertical-align: top; padding: 0;">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    role="presentation" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center"
                                                                                style="font-size: 0; padding: 0; word-break: break-word;">
                                                                                <img alt="Alternate image text"
                                                                                    src="https://res.cloudinary.com/dfsaszwfq/image/upload/v1683274575/uguest_logo_no8elv.png"
                                                                                    style="border: 0; border-radius: 0; display: block; outline: 0; text-decoration: none; width: 100%; max-width: 256px; height: auto; font-size: 13px;"
                                                                                    width="256" height="256" />
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="background: #fff; background-color: #fff; margin: 0 auto; max-width: 600px">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="background: #fff; background-color: #fff; width: 100%">
                                <tbody>
                                    <tr>
                                        <td
                                            style="border: 0 solid #1e293b; direction: ltr; font-size: 0; padding: 20px 0; padding-bottom: 40px; padding-left: 30px; padding-right: 30px; padding-top: 20px; text-align: center;">
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size: 0; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="background-color: transparent; border: 0 solid transparent; vertical-align: top;"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-size: 0; padding: 0; padding-bottom: 15px; word-break: break-word;">
                                                                <div
                                                                    style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.4; color: #1e293b;">
                                                                    <p
                                                                        style="font-size: 16px; line-height: 1.4; margin: 0;">
                                                                        Bonjour <%= name %>,</p>
                                                                    <p
                                                                        style="font-size: 16px; line-height: 1.4; margin: 0;">
                                                                        Vous avez demandé la réinitialisation de votre
                                                                        mot de passe. Veuillez utiliser le code de
                                                                        réinitialisation suivant dans l'application :
                                                                    </p>
                                                                    <p
                                                                        style="font-size: 16px; line-height: 1.4; margin: 0;font-weight: bold;">
                                                                        <%= resetLink %></p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-size: 0; padding: 0; word-break: break-word;">
                                                                <div
                                                                    style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.4; color: #1e293b;">
                                                                    <p
                                                                        style="font-size: 16px; line-height: 1.4; margin: 0;">
                                                                        Si vous n'avez pas demandé de réinitialisation
                                                                        de mot de passe, veuillez ignorer cet e-mail.
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>