<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGuest - Demande de renouvelement de votre mot de passe</title>
</head>

<body>
    <div style="background: #fff; background-color: #fff; margin: 0 auto; max-width: 600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
            style="background: #fff; background-color: #fff; width: 100%;">
            <tbody>
                <tr>
                    <td
                        style="direction: ltr; font-size: 0; padding: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: center;">
                        <div style="background: #fff; background-color: #fff; margin: 0 auto; max-width: 600px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="background: #fff; background-color: #fff; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="width: 200px;">
                                            <img alt="Alternate image text"
                                                src="https://res.cloudinary.com/dfsaszwfq/image/upload/v1683274575/uguest_logo_no8elv.png"
                                                style="border: 0px solid transparent; border-radius: 0px; display: block; outline: 0px; text-decoration: none; width: 100%; font-size: 13px; --loader-delay-offset: 99ms !important;"
                                                width="256" height="256" layout="responsive"
                                                class="i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout"
                                                i-amphtml-layout="responsive">
                                            <i-amphtml-sizer slot="i-amphtml-svc"
                                                style="padding-top: 100%;"></i-amphtml-sizer>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
            style="background: #fff; background-color: #fff; width: 100%;">
            <tbody>
                <tr>
                    <td
                        style="direction: ltr; font-size: 0; padding: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: center;">
                        <div style="background: #fff; background-color: #fff; margin: 0 auto; max-width: 600px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="background: #fff; background-color: #fff; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td
                                            style="border: undefined solid undefined; direction: ltr; font-size: 0; padding: 20px 0; padding-bottom: 0; padding-left: 20px; padding-right: 20px; padding-top: 20px; text-align: left;">
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size: 0; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="background-color: transparent; border: 0 solid transparent; vertical-align: top; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    role="presentation" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="left"
                                                                                style="font-size: 0; padding: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; word-break: break-word;">
                                                                                <div
                                                                                    style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; direction: ltr; text-align: left; color: #000000;">
                                                                                    <h1
                                                                                        style="font-size: 22px; font-weight: bold; line-height: 1.4; margin: 0; margin-bottom: 20px;">
                                                                                        Félicitations !</h1>
                                                                                    <p
                                                                                        style="margin: 0; margin-bottom: 20px;">
                                                                                        Votre demande d'influenceur a
                                                                                        été acceptée par le commerçant.
                                                                                    </p>
                                                                                    <p
                                                                                        style="margin: 0; margin-bottom: 20px;">
                                                                                        Vous êtes invité à vous
                                                                                        présenter chez le commerçant
                                                                                        dans les deux semaines suivant
                                                                                        la date de validation. Veuillez
                                                                                        contacter le commerçant pour
                                                                                        fixer un rendez-vous et discuter
                                                                                        des détails de votre
                                                                                        collaboration.</p>
                                                                                    <p
                                                                                        style="margin: 0; margin-bottom: 20px;">
                                                                                        Merci encore pour votre intérêt
                                                                                        et nous vous souhaitons une
                                                                                        excellente collaboration !</p>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
            style="background: #fff; background-color: #fff; width: 100%;">
            <tbody>
                <tr>
                    <td
                        style="direction: ltr; font-size: 0; padding: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: center;">
                        <div style="background: #fff; background-color: #fff; margin: 0 auto; max-width: 600px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="background: #fff; background-color: #fff; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td
                                            style="border: undefined solid undefined; direction: ltr; font-size: 0; padding: 20px 0; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 20px; text-align: left;">
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size: 0; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="background-color: transparent; border: 0 solid transparent; vertical-align: top; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>